---
import { Image } from 'astro:assets';
import type { Props } from '@interfaces/Project';
import Link from './icons/Link.astro';

const { title, image, codeLink, description, link } = Astro.props;
---

<div>
	<div class="flex items-center justify-between mb-5">
		<h3 class="text-4xl font-extrabold text-orange-400">{title}</h3>
		<a
			class="flex items-center gap-2 px-4 py-2 bg-gray-200 border-2 border-slate-900 text-slate-900 text-lg md:text-xl font-bold rounded-xl cursor-pointer hover:bg-slate-900 hover:border-gray-200 hover:text-gray-200 transition-all duration-200"
			target="_blank"
			href={codeLink}>Code <Link /></a
		>
	</div>

	<p class="text-2xl text-balance text-gray-300 mb-5">{description}</p>

	<div class="flex items-center mb-5 gap-2">
		<slot />
	</div>

	<a
		href={link}
		target="_blank"
		class="relative overflow-hidden block rounded-lg"
	>
		<Image
			src={image.src}
			alt={image.alt}
			class="transition-transform duration-300 ease-in-out hover:scale-110"
		/>
	</a>
</div>

<style></style>
